@{
    ViewBag.Title = "Eventos";
    Layout = "../Shared/_LayoutPortalUsuario.cshtml";
}


@model IEnumerable<EventoFactory.Models.Eventos>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="~/Content/themes/base/images/concerto.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="~/Content/themes/base/images/festa.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="~/Content/themes/base/images/rock.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="container-jumb-eventos">
        <div class="jumbotron" id="jumb-eventos">
            <h1>Próximos Eventos</h1>
            <div id="paragrafo-jumbotron">
                <p>Confira os eventos em destaque abaixo.</p>
            </div>
            <!-- COLOCAR ALGMA COISA AQUI -->
        </div>
    </div>

    <section class="container-fluid" id="section-thumbnails">
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-sm-3 col-lg-3 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Content/themes/base/images/banda.jpg" alt="">
                        <div class="caption">
                            <h4 class="pull-right">@Html.DisplayFor(modelItem => item.Ingressos.Preco)</h4>
                            <h4>@Html.ActionLink(item.Nome, "Evento", new { id = item.ID_Evento })</h4>
                        </div>
                    </div>
                </div>                
            }

        </div>
        <!-- final da ROW -->
    </section>
</body>
