@{
    
    ViewBag.Title = "Contatos";
    Layout = "../Shared/_LayoutPortalUsuario.cshtml";
    }
<!-- Header -->

<header id="top" class="header">
    <div class="text-vertical-center" style="background-image: url(../../Content/themes/base/images/Cinza.png)">
        <h1 style="color: white; font-family: 'Palatino Linotype'"><span style="color: #808080">E</span>vento<span style="color: #808080">F</span>actory</h1>
        <br>
        <a href="#about" class="btn btn-dark btn-lg page-scroll">Entre em contato!</a>
    </div>
</header>


<span id="about"></span>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services">
    <div class="container">
        <div class="row text-center" >
            <div class="col-lg-10 col-lg-offset-1" style="color: #808080">
                <h2>Contatos
                </h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Facebook</strong>
                            </h4>

                            <a href="http://wwww.facebook.com.br" target="_blank" class="btn btn-light" style="border-radius: 10px; font-family: Lucida Bright,Georgia,serif; background-color: #b2b0b0">facebook/EventoFactory</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-instagram fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Instagram</strong>
                            </h4>

                            <a href="http://www.instagram.com" target="_blank" class="btn btn-light" style="border-radius: 10px; font-family: Lucida Bright,Georgia,serif; background-color: #b2b0b0">instagram/EventoFactory</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Twitter</strong>
                            </h4>

                            <a href="http://www.twitter.com" target="_blank" class="btn btn-light" style="border-radius: 10px; font-family: Lucida Bright,Georgia,serif; background-color: #b2b0b0">twitter/EventoFactory</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-envelope fa-stack-1x text-primary" aria-hidden="true"></i>
                            </span>
                            <h4>
                                <strong>E-mail</strong>
                            </h4>

                            <a href="http://www.gmail.com" target="_blank" class="btn btn-light" style="border-radius: 10px; font-family: Lucida Bright,Georgia,serif; background-color: #b2b0b0">email/EventoFactory</a>
                            </a>

                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center" style="background-image: url(../Content/themes/base/images/bannerMulher.png)">
    </div>
</aside>







<!-- jQuery -->
<script src="~/Scripts/jquery-1.9.1.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="~/Content/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script>
    // Closes the sidebar menu
    $("#menu-close").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function () {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function () {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function () {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function () {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function (event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function (event) {
        var that = $(this);
        // Disable the click handler until the user leaves the map area
        that.off('click', onMapClickHandler);
        // Enable scrolling zoom
        that.find('iframe').css("pointer-events", "auto");
        // Handle the mouse leave event
        that.on('mouseleave', onMapMouseleaveHandler);
    }
    // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    </script>

