<!-- Full Width Image Header -->
<header class="header-image">

    <img src="~/Content/themes/base/images/sobre.jpg" width="100%" />


</header>

<!-- Page Content -->
<div class="container">

    <hr class="featurette-divider">

    <!-- First Featurette -->
    <div class="featurette" id="about">
        <img class="featurette-image img-circle img-responsive pull-right" src="~/Content/themes/base/images/unicornio.png">
        <h2 class="featurette-heading">
               
            <span class="text-muted" style="word-spacing: 20px; font-size: 0.8em;">EventoFactory é uma empresa dedicada a propor o diferente aos seus clientes, focada na divulgação de eventos magistrais.</span>
        </h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <hr class="featurette-divider">

    <!-- Second Featurette -->
    <div class="featurette" id="services">
        <img class="featurette-image img-circle img-responsive pull-left" src="~/Content/themes/base/images/Tomrrow.jpg">
        <h2 class="featurette-heading">
               
            <span class="text-muted" style="word-spacing: 20px; font-size: 0.8em;">Seu trabalho consiste em executar tais serviços de modo exclusivo, de acordo com as necessidades de cada cliente e as particularidades do evento proposto.</span>
        </h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <hr class="featurette-divider">

    <!-- Third Featurette -->
    <div class="featurette" id="contact">
        <img class="featurette-image img-circle img-responsive pull-right" src="~/Content/themes/base/images/curtir.png">
        <h2 class="featurette-heading">
               
            <span class="text-muted"style="word-spacing: 20px; font-size: 0.8em;">Conta ainda com um amplo espaço junto com a natureza para melhor aproveitamento com seus amigos e parentes através das comunidades relacional do nosso meio ambiente, apoiando na divulgação dos eventos, oferecendo conforto e tranquilidade.</span>
        </h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <hr class="featurette-divider">

    <!-- /.container -->

    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
